@font-face {
  font-family: 'AcuminProWide';
  src: url('./fonts/AcuminProWide-Bold.woff2') format('woff2'),
  url('./fonts/AcuminProWide-Bold.woff') format('woff'),
  url('./fonts/AcuminProWide-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'AcuminProWide';
  src: url('./fonts/AcuminProWide-Regular.woff2') format('woff2'),
  url('./fonts/AcuminProWide-Regular.woff') format('woff'),
  url('./fonts/AcuminProWide-Regular.ttf') format('truetype');
  font-weight: normal;
}
